<% if !user_signed_in? %>
<%end%>

<% if user_signed_in? %>
<h1>Welcome to the Home Page!</h1>
<p>Hello, <%= current_user.email %></p>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Change password", edit_user_registration_path %>
<%end%>