<table>
  <thead>
    <tr>
      <th>Course Code</th>
      <th>Title</th>
      <th>Sections</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_number %></td>
        <td><%= course.course_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
